<?xml version="1.0" encoding="UTF-8"?>
<!-- Gamepad launch file -->
<launch>
  <param name="IMU_EULER" type="bool" value="false"/>
  <param name="IMU_PHANTOM" type="bool" value="true"/>
<node type="display_minimuv3_visualization_from_topic.py"  pkg="phantom_sensor" name="display_3D_visualization_node_from_topic" output="screen"/>
</launch>

