<?xml version="1.0"?>

<launch>

  <rosparam command="load" file="$(find phantom_description)/params/dynamixel.yaml"/>
  <rosparam command="load" file="$(find phantom_description)/params/phantom.yaml" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find phantom_description)/urdf/phantomX_model.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
   <!--<remap from="/joint_states" to="/Golem/joint_states"/>-->
  </node>
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="false"/>

  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>
  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>
  <node pkg="hector_imu_attitude_to_tf" type="imu_attitude_to_tf_node" name="imu_attitude_to_tf_node" output="screen">
	<remap from="imu_topic" to="imu"/>
	<param name="base_stabilized_frame" type="string" value="base_link"/>
	<param name="base_frame" type="string" value="body_link"/>
  </node>
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
